<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="mainAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%-10r %-5p [%-15t] %c{1}: %m%n"/>
        </Console>
        <Console name="infoAppender" target="SYSTEM_OUT" threshold="INFO">
            <PatternLayout pattern="%-10r %-5p [%-15t] %c{1}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Don't go above INFO for REST classes (takes up too much log space)
             comment these out if you want full debug logs (will be huge)
             WARNING: at debug level, if the following lines are not active,
                      object *data* will be logged in byte-hex ([0x9a]...) -->
        <Logger name="org.apache.http" level="info" additivity="false">
            <AppenderRef ref="infoAppender"/>
        </Logger>
        <Logger name="com.sun.jersey.api.client" level="info" additivity="false">
            <AppenderRef ref="infoAppender"/>
        </Logger>
        <Logger name="com.amazonaws.request" level="info" additivity="false">
            <AppenderRef ref="infoAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="mainAppender"/>
        </Root>
    </Loggers>
</Configuration>